<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#304;leti&#351;im | Proicerik</title>
    <meta name="description" content="&#304;leti&#351;im bilgilerimizi kullanarak bizlere ula&#351;bilirsiniz...">
    <meta name="keywords" content="&#304;leti&#351;im">
    <meta name="author" content="Proicerik">
    <link rel="icon" type="image/x-icon" href="favicons/image-favicon.ico">
    <link rel="canonical" href="https://proicerik.com/iletisim">
    <link rel="stylesheet" href="css/css-style.css">
    <link rel="stylesheet" href="css/css-iconset.css">
    <link rel="stylesheet" href="css/sweetalert2-sweetalert2.min.css">
</head>
<body>
    <div class="header">
        <div class="header-top d-m-none">
            <div class="container">
                <ul class="header-top-menu">
                    <li class="header-top-menu-item">
                        <a href="#" class="header-top-menu-link"><span class="icon-menu mr-10"></span> KURUMSAL <span class="icon-arrow-down ml-10 fs-6"></span></a>
                        <ul class="header-top-menu-sub-item">
                            <li class="header-top-menu-sub-item-item">
                                <a href="hakkimizda.html" class="header-top-menu-sub-item-link">Hakk&#305;m&#305;zda</a>
                            </li>
                            <li class="header-top-menu-sub-item-item">
                                <a href="uyelik-sozlesmesi.html" class="header-top-menu-sub-item-link">&Uuml;yelik S&ouml;zle&#351;mesi</a>
                            </li>
                            <li class="header-top-menu-sub-item-item">
                                <a href="mesafeli-satis-sozlesmesi.html" class="header-top-menu-sub-item-link">Mesafeli Sat&#305;&#351; S&ouml;zle&#351;mesi</a>
                            </li>
                            <li class="header-top-menu-sub-item-item">
                                <a href="on-bilgilendirme-formu.html" class="header-top-menu-sub-item-link">&Ouml;n Bilgilendirme Formu</a>
                            </li>
                            <li class="header-top-menu-sub-item-item">
                                <a href="iletisim.html" class="header-top-menu-sub-item-link">&#304;leti&#351;im</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header-top-menu-item">
                        <a href="https://wa.me/905333755333/?text=Proicerik.com%20sitesi%20%C3%BCzerinden%20eri%C5%9Fim%20sa%C4%9Fl%C4%B1yorum..." target="_blank" class="header-top-menu-link"><span class="icon-whatsapp mr-10"></span>0533 375 5 333<span class="oval online ml-10">ONL&#304;NE</span></a>
                    </li>
                </ul>
                <ul class="header-top-menu">
                    <li class="header-top-menu-item">
                        <a href="panel.html" class="header-top-menu-link"><span class="icon-user mr-10"></span> M&Uuml;&#350;TER&#304;
                        PANEL&#304;</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <a href="proicerik.html" class="logo">
                    <img src="images/image-pro-icerik.webp" alt="Proicerik">
                </a>
                <ul class="header-nav d-m-none">
                    <li class="header-nav-item">
                        <a href="icerik-siparisi.html" class="header-nav-link ">&#304;&ccedil;erik Sipari&#351;i</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="hazir-makaleler.html" class="header-nav-link ">Haz&#305;r Makaleler</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="editorluk-hizmetleri.html" class="header-nav-link ">Edit&ouml;rl&uuml;k Hizmetleri</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="sepetim.html" class="header-nav-cart-btn br-30" id="cart">
                            <span class="icon-cart mr-10"></span>
                            Sepetim
                            <span class="cart-total br-30">
                                0
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="mobile-header-button d-none">
                    <li>
                        <a href="https://wa.me/905333755333/?text=Proicerik.com%20sitesi%20%C3%BCzerinden%20eri%C5%9Fim%20sa%C4%9Fl%C4%B1yorum..." target="_blank" class="btn bg-sheer-color3 color3 br-5">
                            <span class="icon-whatsapp"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn bg-sheer-color2 color2 br-5 mobile-popup-box-btn" data-id="mobile-menu">
                            <span class="icon-menu"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mobile-popup-box d-none" id="mobile-menu">
                <div class="mobile-popup-header">
                    <a href="proicerik.html">
                        <img src="images/image-pro-icerik-footer-logo.webp" alt="Proicerik">
                    </a>
                    <div class="d-flex col-gap-15">
                        <a href="https://wa.me/905333755333/?text=Proicerik.com%20sitesi%20%C3%BCzerinden%20eri%C5%9Fim%20sa%C4%9Fl%C4%B1yorum..." target="_blank" class="btn bg-sheer-color3 color3 br-5">
                            <span class="icon-whatsapp"></span>
                        </a>
                        <a href="#" class="btn bg-header color1 br-5 mobile-popup-box-btn" data-id="mobile-menu">
                            <span class="icon-close"></span>
                        </a>
                    </div>
                </div>
                <ul class="mobile-popup-nav">
                    <li class="mobile-popup-nav-item">
                        H&#304;ZMETLER&#304;M&#304;Z
                    </li>
                    <li class="mobile-popup-nav-item">
                        <a href="icerik-siparisi.html" class="mobile-popup-nav-link">&#304;&Ccedil;ER&#304;K S&#304;PAR&#304;&#350;&#304; <span class="icon icon-arrow"></span></a>
                    </li>
                    <li class="mobile-popup-nav-item">
                        <a href="hazir-makaleler.html" class="mobile-popup-nav-link">HAZIR MAKALELER <span class="icon icon-arrow"></span></a>
                    </li>
                    <li class="mobile-popup-nav-item">
                        <a href="editorluk-hizmetleri.html" class="mobile-popup-nav-link">ED&Ouml;TLR&Uuml;K H&#304;ZMETLER&#304; <span class="icon icon-arrow"></span></a>
                    </li>
                </ul>
                <ul class="mobile-popup-nav">
                    <li class="mobile-popup-nav-item">
                        HIZLI ER&#304;&#350;&#304;M
                    </li>
                    <li class="mobile-popup-nav-item">
                        <a href="hakkimizda.html" class="mobile-popup-nav-link">Hakk&#305;m&#305;zda <span class="icon icon-arrow"></span></a>
                    </li>
                    <li class="mobile-popup-nav-item">
                        <a href="iletisim.html" class="mobile-popup-nav-link">Bize Ula&#351;&#305;n <span class="icon icon-arrow"></span></a>
                    </li>
                    <li class="mobile-popup-nav-item">
                        <a href="uyelik-sozlesmesi.html" class="mobile-popup-nav-link">&Uuml;yelik S&ouml;zle&#351;mesi <span class="icon icon-arrow"></span></a>
                    </li>
                    <li class="mobile-popup-nav-item">
                        <a href="mesafeli-satis-sozlesmesi.html" class="mobile-popup-nav-link">Mesafeli Sat&#305;&#351; S&ouml;zle&#351;mesi <span class="icon icon-arrow"></span></a>
                    </li>
                    <li class="mobile-popup-nav-item">
                        <a href="on-bilgilendirme-formu.html" class="mobile-popup-nav-link">&Ouml;n Bilgilendirme Formu <span class="icon icon-arrow"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="w-100 bg-color2">
            <div class="container ozel-icerik-title-bg page-title">
                <div class="d-block">
                    <h1 class="page-title-title">&#304;leti&#351;im</h1>
                    <p class="page-title-desc">Bize ula&#351;mak i&ccedil;in a&#351;a&#287;&#305;da bulunan ileti&#351;im bilgilerimizi kullanabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
        <div class="container mt-40">
            <div class="left-sidebar col-m-1 row-gap-m-20">
                <div class="w-100">
                    <div class="w-100 position-sticky">
                        <div class="box br-5 p-30">
                            <ul class="sidebar-nav">
                                <li class="sidebar-nav-item">
                                    <a href="hakkimizda.html" class="sidebar-nav-link br-5">Hakk&#305;m&#305;zda</a>
                                </li>
                                <li class="sidebar-nav-item">
                                    <a href="uyelik-sozlesmesi.html" class="sidebar-nav-link br-5">&Uuml;yelik
                                    S&ouml;zle&#351;mesi</a>
                                </li>
                                <li class="sidebar-nav-item">
                                    <a href="mesafeli-satis-sozlesmesi.html" class="sidebar-nav-link br-5">Mesafeli Sat&#305;&#351; S&ouml;zle&#351;mesi</a>
                                </li>
                                <li class="sidebar-nav-item">
                                    <a href="on-bilgilendirme-formu.html" class="sidebar-nav-link br-5">&Ouml;n
                                    Bilgilendirme Formu</a>
                                </li>
                                <li class="sidebar-nav-item">
                                    <a href="iletisim.html" class="sidebar-nav-link br-5 active">&#304;leti&#351;im</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100">
                    <div class="box br-5 p-30">
                        <div class="d-flex align-item-center">
                            <div class="contact-icon mr-10">
                                <span class="icon-headphone"></span>
                            </div>
                            <div class="contact-desc-con">
                                <span class="contact-tilte">TELEFON</span>
                                <span class="contact-desc">0533 375 5 333</span>
                            </div>
                        </div>
                        <div class="d-flex align-item-center mt-20">
                            <div class="contact-icon mr-10">
                                <span class="icon-mail"></span>
                            </div>
                            <div class="contact-desc-con">
                                <span class="contact-tilte">E-POSTA</span>
                                <span class="contact-desc"><a href="email-protection.html" class="__cf_email__" data-cfemail="0f6d666368664f7f7d60666c6a7d6664216c6062">[email&nbsp;protected]</a></span>
                            </div>
                        </div>
                        <div class="d-flex align-item-center mt-20">
                            <div class="contact-icon mr-10">
                                <span class="icon-pin"></span>
                            </div>
                            <div class="contact-desc-con">
                                <span class="contact-tilte">ADRES</span>
                                <span class="contact-desc">&Ccedil;iftlik K&ouml;y Mah.</span>
                            </div>
                        </div>
                    </div>
                    <div class="box br-5 p-30 mt-40">
                        <form action="https://proicerik.com/iletisim" id="frmIletisim">
                            <h3 class="box-title text-left color2">Mesaj G&ouml;nderin</h3>
                            <div class="col-2 col-m-1 mt-20">
                                <input type="hidden" name="_token" value="CZZogBKZe3xYTrJwetlNlp5OjjXsCHGc5UTXT5zK"> <div class="form-group">
                                    <label class="form-group-label">Ad Soyad</label>
                                    <input type="text" class="form-group-input br-5" name="AdSoyad" placeholder="Ad&#305;n&#305;z Soyad&#305;n&#305;z...">
                                </div>
                                <div class="form-group">
                                    <label class="form-group-label">&#350;irketiniz</label>
                                    <input type="text" class="form-group-input br-5" name="Sirket" placeholder="&#350;irketiniz...">
                                </div>
                                <div class="form-group">
                                    <label class="form-group-label">E-Mail</label>
                                    <input type="text" class="form-group-input br-5" name="EMail" placeholder="E-Mail Adresiniz...">
                                </div>
                                <div class="form-group">
                                    <label class="form-group-label">Telefon</label>
                                    <input type="text" class="form-group-input br-5" name="Telefon" placeholder="Telefon Numaran&#305;z...">
                                </div>
                            </div>
                            <div class="form-group mt-20">
                                <label class="form-group-label">Mesaj&#305;n&#305;z</label>
                                <textarea name="Mesaj" class="form-group-textarea br-5" cols="30" rows="10" placeholder="Bize iletmek istedi&#287;iniz mesaj&#305;n&#305;z&#305; giriniz..."></textarea>
                            </div>
                            <div class="d-flex justify-content-end mt-20">
                                <button type="submit" class="btn br-5 w-fit">Mesaj&#305; G&ouml;nder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer mt-40">
        <div class="container">
            <a href="proicerik.html">
                <img src="images/image-pro-icerik-footer-logo.webp" alt="Proicerik">
            </a>
            <div class="footer-social-media">
                <a href="#" class="footer-social-media-item">
                    <span class="icon-facebook"></span>
                </a>
                <a href="#" class="footer-social-media-item">
                    <span class="icon-instagram"></span>
                </a>
                <a href="#" class="footer-social-media-item">
                    <span class="icon-twitter"></span>
                </a>
                <a href="#" class="footer-social-media-item">
                    <span class="icon-linkedin"></span>
                </a>
            </div>
        </div>
        <div class="footer-content">
            <div class="container d-m-grid col-m-1 row-gap-m-55">
                <ul class="footer-content-links">
                    <li class="footer-content-link-item">
                        &#304;LET&#304;&#350;&#304;M
                    </li>
                    <li class="footer-content-link-item">
                        <a href="tel:0533%20375%205%20333" class="footer-content-link footer-contact-item">
                            <span class="icon-phone br-30"></span>
                            0533 375 5 333
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="/cdn-cgi/l/email-protection#2f4d464348466f5f5d40464c4a5d4644014c4042" class="footer-content-link footer-contact-item">
                            <span class="icon-mail br-30"></span>
                            <span class="__cf_email__" data-cfemail="4f2d262328260f3f3d20262c2a3d2624612c2022">[email&nbsp;protected]</span>
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="https://wa.me/905333755333/?text=Proicerik.com%20sitesi%20%C3%BCzerinden%20eri%C5%9Fim%20sa%C4%9Fl%C4%B1yorum..." class="footer-content-link footer-contact-item">
                            <span class="icon-whatsapp br-30"></span>
                            0533 375 5 333
                        </a>
                    </li>
                </ul>
                <ul class="footer-content-links">
                    <li class="footer-content-link-item">
                        HIZLI MEN&Uuml;
                    </li>
                    <li class="footer-content-link-item">
                        <a href="proicerik.html" class="footer-content-link">
                            Ana Sayfa
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="icerik-siparisi.html" class="footer-content-link">
                            &#304;&ccedil;erik Sipari&#351;i
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="hazir-makaleler.html" class="footer-content-link">
                            Haz&#305;r Makaleler
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="editorluk-hizmetleri.html" class="footer-content-link">
                            Edit&ouml;rl&uuml;k Hizmetleri
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="panel.html" class="footer-content-link">
                            M&uuml;&#351;teri Paneli
                        </a>
                    </li>
                </ul>
                <ul class="footer-content-links">
                    <li class="footer-content-link-item">
                        KURUMSAL
                    </li>
                    <li class="footer-content-link-item">
                        <a href="hakkimizda.html" class="footer-content-link">
                            Hakk&#305;m&#305;zda
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="uyelik-sozlesmesi.html" class="footer-content-link">
                            &Uuml;yelik S&ouml;zle&#351;mesi
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="mesafeli-satis-sozlesmesi.html" class="footer-content-link">
                            Mesafeli Sat&#305;&#351; S&ouml;zle&#351;mesi
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="on-bilgilendirme-formu.html" class="footer-content-link">
                            &Ouml;n Bilgilendirme Formu
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="iletisim.html" class="footer-content-link">
                            &#304;leti&#351;im
                        </a>
                    </li>
                </ul>
                <ul class="footer-content-links">
                    <li class="footer-content-link-item">
                        BLOG'DAN BA&#350;LIKLAR
                    </li>
                    <li class="footer-content-link-item">
                        <a href="seo-uyumlu-makale-nasil-hazirlanir.html" class="footer-content-link">
                            Seo Uyumlu Makale Nas&#305;l Haz&#305;rlan&#305;r?
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="seo-nedir-makale-yazdirmanin-seoya-etkileri-nelerdir.html" class="footer-content-link">
                            Seo Nedir? Makale Yazd&#305;rman&#305;n Seoya Etkileri Nelerdir?
                        </a>
                    </li>
                    <li class="footer-content-link-item">
                        <a href="songuncel-makale-yazdirmak-neden-onemlidir.html" class="footer-content-link">
                            G&uuml;ncel Makale Yazd&#305;rmak Neden &Ouml;nemlidir?
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <span>Copyright 2022 proicerik.com - T&uuml;m Haklar&#305; Sakl&#305;d&#305;r.</span>
            <div class="footer-bottom-links">
                <img src="images/image-credit-cards.webp" class="footer-credit-cart">
            </div>
        </div>
    </div>
    <input type="hidden" name="_token" value="CZZogBKZe3xYTrJwetlNlp5OjjXsCHGc5UTXT5zK"> <ul class="mobile-menu d-none">
        <li class="mobile-menu-item">
            <a href="proicerik.html" class="mobile-menu-link">
                <span class="icon-home mobile-menu-icon color2"></span>
                <span class="mobile-menu-pane-name">Ana Sayfa</span>
            </a>
        </li>
        <li class="mobile-menu-item">
            <a href="icerik-siparisi.html" class="mobile-menu-link">
                <span class="icon-paper-edit mobile-menu-icon"></span>
                <span class="mobile-menu-pane-name">Sipari&#351; Ver</span>
            </a>
        </li>
        <li class="mobile-menu-item">
            <a href="sepetim.html" class="mobile-menu-link color3">
                <span class="mobile-cart-count">0</span>
                <span class="icon-cart mobile-menu-icon"></span>
                <span class="mobile-menu-pane-name">Sepetim</span>
            </a>
        </li>
        <li class="mobile-menu-item">
            <a href="iletisim.html" class="mobile-menu-link">
                <span class="icon-headphone mobile-menu-icon"></span>
                <span class="mobile-menu-pane-name">&#304;leti&#351;im</span>
            </a>
        </li>
        <li class="mobile-menu-item">
            <a href="panel.html" class="mobile-menu-link">
                <span class="icon-user mobile-menu-icon"></span>
                <span class="mobile-menu-pane-name">Giri&#351;</span>
            </a>
        </li>
    </ul>
    <script data-cfasync="false" src="js/cloudflare-static-email-decode.min.js"></script><script src="js/sweetalert2-sweetalert2.all.min.js"></script>
    <script src="js/js-transactions.js"></script>
    <script src="js/js-main.js"></script>
    <script src="js/page-iletisim.js"></script>
</body>
</html>
